.page_content {
	@include span-columns(12);
}

.handbooks {
	position: absolute;
	top: 0;
	right: 0;
	
	a {
		
		p {
			float: left;
			vertical-align: middle;
			margin-right: 10px;
			line-height: 26px;
		}
		
		img {
			float: left;
			width: auto;
		}
	}
	
	@include media($mobile) {
		position: relative;
		text-align: center;
	}
}

.profile_section {
	@include span-columns(12);
	background-color: $white;
	padding: 30px;
	margin: 30px 0 40px;
	
	@include media($mobile) {
		padding: 20px 10px;
	}
	
	h3 {
		@include span-columns(12);
		font-size: 24px;
		@include proximaNovaLight;
		margin: 0 0 20px;
	}
	
	> div {
		@include span-columns(12);
		border: 1px solid $buttonGreen;
		margin-bottom: 30px;
	}
	
	input[type="text"], input[type="password"] {
		background-color: #f8f8f8;
		margin: 4px 0 10px;
		border: 1px solid #e5e5e5;
		padding: 4px 8px;
		font-size: 15px;
		@include proximaNovaLight;
	}
	
	label {
		@include proximaNovaLight;
		font-size: 15px;
	}
	
	.profile_container {
		@include span-columns(12);
		border: 1px solid $buttonGreen;
		margin-bottom: 30px;
		padding: 20px;
		
		@include media($mobile) {
			padding: 0;
			border: none;
		}
		
		.prof_image_container {
			@include span-columns(3);
			
			@include media($mobile){
				@include span-columns(3);	
			}
			
			img {
				width: 100%;
				height: auto;
				display: block;
			}
			
			p {
				margin-bottom: 5px;
			}
			
			.upload_field {
				width: 100%;
			}
						
			.image_upload_submit {
				width: 100%;
				margin-top: 10px;
			}
		}
		
		.profile_info {
			@include span-columns(8.5);
			@include shift(0.5);
			@include omega();
			
			@include media($mobile) {
				@include span-columns(4);
				margin-top: 20px;
				margin-left: 0;
			}
		}
		
		.info_row {
			@include span-columns(12);
			margin-bottom: 4px;
			
			p, input, label {
				@include span-columns(9);
				@include proximaNovaLight;
				font-size: 15px;
				
				&:first-child, label {
					@include span-columns(3);
					@include garamond;
					color: #89887c;
					font-size: 18px;
				}
			}
			
			label {
				
				@include media($mobile) {
					width: 30% !important;
				}
			}
			
			input {
				
				@include media($mobile) {
					width: 67% !important;
				}
			}
			
			p {
				
				&:first-child {
					
					@include media($mobile) {
						width: 30%;
					}
				}
				
				&:last-child {
					
					@include media($mobile) {
						width: 67%;
					}
				}
			}
		}
		
		@include media($mobile) {
			border: none;
			padding: 0;
		}
	}
	
	.activities_container, .general_information {
		border: none;
		
		.profile_table, .profile_table-full {
			
			@include media($mobile) {
				
			    @include span-columns(4);
		    	float: none;
		    	border: none;
		    }
			
			h2 {
				@include garamond;
				color: #89887c;
				font-size: 18px;
			}
			
			table {
				border-left: none;
				border-right: none;
				border-radius: 0px;
				
				@include media($mobile) {
					border-top: none;
					margin-bottom: none;
                    overflow-x: scroll;
					
					thead {
			    		@include span-columns(1.2);
						float: left;
						margin-right: 5px;
					}
				}
				
				tbody {
					
					@include media($mobile) {
			    		@include span-columns(2.8);
						float: left;
					}
				}
				
				tr {
					font-size: 16px;

					th {
						font-weight: 400;
						padding: 9px 12px;
						
						@include media($mobile) {
					    	width: 100%;
					    	float: left;
					    	padding-left: 0;
						}
					}
					
					td {
						padding: 9px 12px;
						
						@include media($mobile) {
							width: 100%;
							float: left;
							border: none;
							padding-bottom: 0;
						}
					}
				}
			}
		}
	}
	
	.activities_container {
		.profile_table {
			@include span-columns(6);
			@include omega(2n);
			padding: 10px 20px;
			border: 1px solid $buttonGreen;
			margin-bottom: 20px;
			
			&:last-child {
				margin-right: 0px;
			}

			&.emergency_contact {
				margin-right: 0;
			}
			
			@include media($mobile) {
				@include span-columns(4);
			}
			
			.my_account_bookings, .my_account_orders {
				@include media($mobile) {
					display: none;
				}
			}
			
			.my_account_bookings_mobile, .my_account_orders_mobile {
				display: none;
				
				@include media($mobile) {
					display: inherit;
					
					tbody {
						width: 100%;
					}
					
					th {
						float: none;
						width: 40% ;
						padding-bottom: 0;
					}
					
					td {
						float: none;
						width: 55%;
					}
				}
			}
		}
		
		.profile_table-full {
			@include span-columns(12);
			padding: 10px 20px;
			border: 1px solid $buttonGreen;
			margin-bottom: 20px;
		}
		
	}
	
	.general_information {
		@include span-columns(12);
		margin-bottom: 10px;
		
		.general_info_row {
			@include span-columns(12);
			margin-bottom: 20px;
			
			> div {
				@include span-columns(6);
				padding: 10px 20px;
				border: 1px solid $buttonGreen;
				margin-bottom: 20px;
				float: none;
				min-height: 100%;
				display: table-cell;
				
				&:last-child {
					margin-right: 0px;
				}
	
				&.emergency_contact {
					margin-right: 0;
				}
				
				@include media($mobile) {
					@include span-columns(4);
				}
			}
			
			.spacer {
				width: 2.35765%;
				border: 0;
				padding: 0;
			}
		}
		
		h4 {
			margin: 0 0 10px;
			@include proximaNovaLight;
			font-size: 18px;
		}
		
		.info_row {
			@include span-columns(12);
			
			label {
				@include span-columns(12);
			}
			
			input {
				@include span-columns(12);
			}
		}
	}
	
	.login_info {
		@include span-columns(12);
	}
	
	#payment, .current_payment_methods {
		padding: 20px;
		
		h2 {
			margin: 0 0 10px;
		}
		
		ul {
			list-style: none;
		}
	}

	.permissions {

		label {
			font-size: 15px;
		}

		.info_row {

			&:last-child {

				label {
					background-position: 0 4px;
				}
			}
		}
	}
}

.woocommerce {
	.subscription-actions {
		a {
			&.change_address {
				display: none;
			}
			&.button {
				background: none;
				color: $buttonGreen;
				font-weight: 300;
				border: 0;
				box-shadow: none;
			}
		}
	}
}