.top_icons {
	@include span-columns(12);
	clear: both;
	margin: 20px 0 30px;
}

.top_icon {
	float: left;
	padding-right: 45px;
	text-align: center;
	height: 65px;
			
	&:last-child {
		padding-right: 0px;
	}
	
	p {
		//@include span-columns(12);
	}
	
	img {
		display: inline-block !important;
	}
}

.template_5 {
	
	@include media($mobile) {
		padding-top: 10px;
		padding-bottom: 20px;
	}
	
	.transportation_alert {
		@include span-columns(12);
		background-color: #978d7c;
		margin: 0 0 40px;

        @include media($mobile) {
          display: none;
        }
		
		h3 {
			@include span-columns(10.5);
			@include shift(0.5);
			font-size: 20px;
			color: $white;
			@include proximaNovaLight;
		}
		
		img {
			width: 27px;
			height: 27px;
			position: absolute;
			top: 10px;
			right: 20px;
			cursor: pointer;
		}
	}
	
	.title_row {
		@include span-columns(12);
        margin-bottom: 15px;

      @include media($mobile) {
        line-height: 30px;
        font-size: 13px;
        margin-bottom: 0;
      }
      
      .page_title {
	      margin-bottom: 5px;
      }
	}
	
	.top_content {
		@include span-columns(12);
		margin-bottom: 10px;
		
		@include media($mobile) {
			margin-bottom: 0;
		}
	}
	
	.top_icon {
		text-align: center;
		height: 65px;
		
		ul {
			@include clearfix;
			list-style: none;
			
			li {
				@include span-columns(3);
				text-align: center;
                padding-right: 30px;

                @include media($mobile) {
                  padding-right: 70px;

                  &:nth-child(4) {
                    padding-right: 0;
                  }
                }
				
				&:nth-child(1) {
					
					p {
						padding-top: 1px;
					}
				}
				
				&:nth-child(2) {
					
					p {
						padding-top: 9px;
					}
				}
				
				&:nth-child(3) {
					
					p {
						padding-top: 5px;
					}
				}
				
				a {
					height: 65px;
					text-align: center;
					
					img {
						display: inline-block;	
					}
				}
			}
		}
	}
	
	.template_5_two_column {
		@include clearfix;
		@include span-columns(12);
		border-bottom: 1px solid #d7d7d7;
		background-color: $white;
		padding: 20px 30px;
		margin-top: 20px;
		
		@include media($mobile) {
			padding: 0 10px 15px;
		}
		
		&:first-child {
			margin-top: 0px;
		}
		
		
		h1 {
			margin-top: 0px;
		}
		
		p {
			margin-bottom: 10px;
		}
		
		.two_columns {
			display: flex;

            @include media($mobile) {
              display: inline;
            }
		}
		
		.two_column_left {
			@include span-columns(7);
			margin-top: 14px;

            @include media($mobile) {
              @include span-columns(4);
            }
			
			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}
		
		.two_column_right {
			@include span-columns(5);
			border: 1px solid $buttonGreen;
			padding: 20px;
			margin-top: 14px;

            @include media($mobile) {
              @include span-columns(4);
              margin-top: 25px;
              margin-bottom: 10px;
            }
			
			p {
				@include garamond;
				color: $textGray;
                margin-bottom: 20px;
			}
			
			a {
				font-size: 1.4rem;
				line-height: 1.4;
			}
			
			.column_links {
				list-style: none;
			}
		}
	}
	
	.two_column_no_image {
		@include span-columns(12);
		border: 1px solid $buttonGreen;
		padding: 20px;
		margin-top: 14px;

        @include media($mobile) {
          @include span-columns(4);
        }
		
		p {
			@include garamond;
			color: $textGray;
		}
		
		a {
			font-size: 1.4rem;
			line-height: 1.4;
		}
		
		.column_links {
			list-style: none;
		}
	}
	
	.template_5_one_column {
		@include clearfix;
		@include span-columns(12);
		background-color: $white;
		padding: 30px;
		margin-top: 20px;
		border-bottom: 1px solid #d7d7d7;
		
		@include media($mobile) {
			padding: 0 10px 20px;
		}
		
		p {
			margin-bottom: 20px;
			
			@include media($mobile) {
				margin-bottom: 0;
			}
		}

        .standard_btn {
          @include media($mobile) {

            a {
              font-size: 14px;
              text-align: center;
              
              @include media($mobile) {
              	width: 100%;
              	margin-top: 20px;
              }
            }
          }
        }
	}
	
	.template_5_contact {
		@include span-columns(12);
		padding-left: 30px;
		margin-top: 20px;
		
		@include media($mobile) {
			margin-top: 10px;
		}
		
		.page_title {
			margin: 10px 0;
		}
	}
}